<div class="page">
		
		<div class="page-content">
		
<div class="container">
<div class="row" id="reg-form">
		<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 push-4-top push-2-bottom">
			<div class="rounded-rect hideoverflow">
				<div class="fill-blue-pattern legible">
					<div class="containwidth push-2-top push-1-bottom">
						<a href="/" class="logo centered"></a>
					</div>
				</div>
				<div class="fill-lightgray">
					<h2 class="text-center legible normal fill-whitefade push-half">Edit Event Information</h2>
				</div>
				<div class="row push-3-top push-half-bottom">
					<div class="col-sm-8 col-xs-12 press pad-4-left pad-2-xs col-sm-offset-2">
				<%= render 'form' %>
				</div>
				</div>


<%= link_to 'Back', events_path %>
</div>
</div>
</div>
</div>
</div>