<div class="page">
		
		<div class="page-content">
		
	<div class="center-block rounded-rect hideoverflow">
		<div class="fill-blue extralarge-prose">
			<div class="containwidth form-header push-1-top push-half-bottom">
				<a href="/" class="square-logo centered"></a>
			</div>
		</div>
		<div class="fill-lightgray">
			<h2 class="text-center legible normal fill-whitefade push-half">Forgot Your Password?</h2>
		</div>
		<div class="row push-line-top push-half-bottom">
			<div class="col-sm-8 col-xs-8 col-sm-offset-2 col-xs-offset-2">
				
    <form action="." method="post" class="push-half-top">
        <div style='display:none'><input type='hidden' name='csrfmiddlewaretoken' value='n8IHRFOOJ9TukhBYPoBWwzoprz5ECE8T' /></div>
        <label for="id_email">Enter your e-mail address below:</label>
        <input type="text" class="form-control" id="id_email" placeholder="Email Address" name="email">
        
        <div class="text-center push-1-top">
            <input type="submit" class="btn btn-blue pad-1 legible-prose" value="Submit"/>
        </div>
    </form>

			</div>		
		</div>       
		<hr>
		
  <div class="text-center push-1q-bottom regular normal">
    <p class="push-1q-bottom link-silent"><a href="/account/login"><i class="fa fa-long-arrow-left"></i>&nbsp;&nbsp;return to Log In </a></p>
  </div>

	</div>

		</div>
		
		</div>

		
		
		
			<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
			<script>
				$( ".navbar-toggle" ).click(function(){
					this.classList.toggle( "active" );
				});
			</script>